html,body{
	width: 100%;
	height: 100%;
}
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.m-b-10{
	margin-bottom: 10px;
}
.m-b-20{
	margin-bottom: 20px;
}

.container{
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}